body
{
background-image:url(photo-1432821596592-e2c18b78144f.jpg);
text-align:center;
background-size:cover;
}
h1
{
color:white;
font-size:70;
font-family:Monospace;
}
p
{
color:white;
font-size:30;
font-family:Monospace;
}
label
{
font-size:30;
color:white;
font-family:Monospace;
}

button,input

{
font-size:25;
font-family:Monospace;
}
